.form {
    width: 380px;
    height: 480px;
    position: absolute;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    box-shadow: 0px 0px 8px 4px #d4d4d4;
    top: -150%;
    left: 50%;
    overflow: hidden;
    border-radius: 15px;
    opacity: 0;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms
                transform 20ms ease-in-out 0ms;
}

.form.active {
    top: 40%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms
                transform 20ms ease-in-out 0ms;
}

.button-box {
    width: 250px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #24ffa41f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 137px;
    height: 100%;
    background: var(--color-green-linear);
    border-radius: 10px;
    transition: .5s;
}

.input-group {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field:focus,
.input-field:hover {
    outline: none;
    border-bottom-color: var(red);
    background-color: #fff;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: var(--color-green-linear);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.chech-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 66px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    outline: none;
    background: transparent;
}

.btn-close:hover {
    cursor: pointer;
    text-decoration: underline;
}