.info-user-global-ctn {
    margin: 40px 100px;
    display: flex;
    gap: 50px;
}

.profil-user-global {
    width: 80%;
    overflow: auto;
}

.img-user-global {
    width: 163px;
    height: 163px;
}

.img-user-global img{
    border: 1px solid #757575;
    border-radius: 100%;
    width: 100%;
    height: auto;
}

.info-user-global {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 100%; /* Assure que l'élément ne dépasse pas de l'écran */
    overflow: hidden; /* Cache le dépassement, si nécessaire */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si l'espace est insuffisant */
}

.info-user-name-email-date {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%; /* Définit la largeur à 50% */
    max-width: 100%; /* Assure que l'élément ne dépasse pas de l'écran */
    overflow: hidden; /* Cache le dépassement, si nécessaire */
}

.img-user-global img {
    max-width: 100%; /* Assure que l'image ne dépasse pas de son conteneur */
    height: auto; /* Maintient le ratio d'aspect de l'image */
}

.info-user-global-ctn {
    max-width: 100%; /* Assure que la section ne dépasse pas de l'écran */
    overflow: hidden; /* Cache le dépassement, si nécessaire */
}


.info-user-name-email {
    display: flex;
    flex-direction: column;
}

.info-user-name-email span:nth-child(1){
    font-weight: bold;
    font-size: 25px;
}

.info-user-name-email span:nth-child(2){
    color: #a8a8a8;
}

.info-user-name-email span:last-child {
    font-weight: normal;
    color: #323232;
    font-size: 18px;
    max-width: 5em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.biographie-text {
    width: 80%;
    margin-top : 20px;
    margin-bottom : 20px;
}

.biographie-text p {
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.info-user-follow-friend-global {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.info-user-follow-friend {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 18px;
}
.info-user-follow-friend span:last-child{
    font-weight: bold;
}

.btn-follow-profil {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-follow-profil button{
    display: inline-block;
    width: 100%;
    padding: 16px;
    background: linear-gradient(45deg, #00b5ff, #005eff);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.btn-follow-profil button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(100%) rotateX(90deg);
    transition: transform 0.3s ease-in-out;
}

.btn-follow-profil button:hover::before {
    transform: translateY(0) rotateX(0);
}

.btn-follow-profil button::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 15px;
    border: 1px solid #00b5ff;
    z-index: -1;
}

/* Hover Effect */
.btn-follow-profil button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Active Effect */
.btn-follow-profil button:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-like-post-ctn {
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    margin: 15px 100px;
    font-size: 1.5rem;
}

.info-like-post-global {
    display: flex;
    margin: 5px 35px;
    gap: 25px;
}

.info-like-post-global span:first-child{
    font-weight: bold;
}

.info-user-biographie-ctn {
    margin: 10px 100px;
}

.info-titre {
    font-size: 1rem;
}

.nav-bar-user-global {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.nav-bar-user-global span {
    padding: 10px 14px;
}

.nav-bar-user-global span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.select {
    background: #C9D7DE;
    padding: 10px 14px;
    border-radius: 100px;
}

.info-user-tagsFav {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}

.info-user-tagsFav img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.btn-follow-friend {
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
}

.popUp-friend-ctn {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1111;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-150%);
}

.popUp-friend-ctn.active {
    transform: translateX(0%);
}

.popUp-friend-global {
    height: 400px;
    width: 400px;
    border-radius: 12px;
    background: #fff;
}

.titre-friend-popUp {
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: end;
}

.titre-friend-popUp p {
    margin: 10px 0;
}

.btn-friend-popUp {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.titre-friend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.titre-friend p {
    transform: translate(-50%);
}

.section-UserFriend-ctn {
    display: flex;
    flex-direction: column;
}

.UserFriend {
    padding: 15px 5px;
}

.UserFriend-div-global a {
    margin: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.UserFriend-global {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.UserFriend-img {
    width: 44px;
    height: 44px;
}
.UserFriend-img img {
    border: 1px solid #9e9ea7;
    border-radius: 100px;
    width: 100%;
}

.UserFriend-name {
    margin-left: 15px;
}

.UserFriend-btn-friend button {
    border: none;
    padding: 7px 16px;
    background-color: rgb(239,239,239);
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.UserFriend-btn-friend button:hover {
    background-color: rgb(219,219,219);
}

.message-friend-not-found {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-profil {
    margin: 2rem 15rem;
    padding: 1rem 1rem;
    border-radius: 16px;
    cursor: pointer;
}
.post {
    margin: 2rem 0rem;
    padding: 1rem 1rem;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
}
.post:hover {
    background: #F6F8F9;
}

.post-user-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-header-post-detail,
.user-header-post-btn {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 15px;
}

.post-user-header-img {
    width: 24px;
    height: 24px;
}

.post-user-header-img img {
    width: 100%;
    height: auto;
    border-radius: 100px;
}

.user-header-post-btn button:first-child {
    border-radius: 100px;
    padding: 0px 11px;
    background: #0A449B;
    border: none;
    color: #fff;
}

.user-header-post-btn button:first-child:hover {
    background: #0A2F6C;
    cursor: pointer;
}

.user-header-post-btn button:last-child {
    border-radius: 100px;
    width: 2rem;
    height: 2rem;
    padding: 0px 6px;
    background: transparent;
    border: none;
    color: #181C1F;
}

.user-header-post-btn button:last-child:hover {
    background: #DBE4E9;
    cursor: pointer;
}

.post-user-content-title {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-user-footer {
    display: flex;
    flex-direction: row;
}

.post-user-footer-vote {
    display: flex;
    width: 75px;
    height: 32px;
    flex-direction: row;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    align-items: center;
    justify-content: space-between;
    cursor: auto;
    background: #E5EbEE;
    border-radius: 999px;
    box-sizing: border-box;
    margin-right: 0.75rem;
}

.post-user-footer-vote button{
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 100px;
}

.post-user-footer-vote button:first-child:hover {
    color: var(--color-green);
    background: #DBE4E9;
}
.post-user-footer-vote button:last-child:hover {
    color: #D93900;
    background: #DBE4E9;
}

.post-user-footer-commente button{
    height: 32px;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    background: #E5EbEE;
    border-radius: 999px;
    box-sizing: border-box;
    margin-right: 0.75rem;
    border: none;
    font-weight: bold;
}

.post-user-footer-commente button:hover{
    background: #e1e1e1;
}

.user-header-post-detail a {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.post-user-content-description {
    font-weight: normal;
    max-width: 80%;
}

.bar-suparator-post {
    border-bottom: 1px solid var(--color-line);
    width: 70%;
}

.bar-suparator-post-profil {
    border-bottom: 1px solid var(--color-line);
    margin: 0 15rem;
}

.err-ctn-profil-post {
    margin: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}