.info-user-global-ctn {
    margin: 40px 100px;
    display: flex;
    gap: 50px;
}

.profil-user-global {
    width: 100%;
}

.img-user-global {
    width: 163px;
    height: 163px;
}

.img-user-global img{
    border: 1px solid #757575;
    border-radius: 100%;
    width: 100%;
    height: auto;
}

.info-user-global {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.info-user-name-email-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

.info-user-name-email {
    display: flex;
    flex-direction: column;
}

.info-user-name-email span:nth-child(1){
    font-weight: bold;
    font-size: 25px;
}

.info-user-name-email span:nth-child(2){
    color: #a8a8a8;
}

.info-user-follow-friend-global {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

.info-user-follow-friend {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 18px;
}
.info-user-follow-friend span:last-child{
    font-weight: bold;
}

.btn-follow-profil {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-follow-profil button{
    width: 100%;
    height: 33px;
    border-radius: 5px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.btn-follow-profil button:hover{
    width: 100%;
    height: 33px;
    border-radius: 5px;
    border: none;
    background: #555555;
    color: #fff;
}

.info-like-post-ctn {
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    margin: 40px 100px;
    font-size: 1.5rem;
}

.info-like-post-global {
    display: flex;
    margin: 5px 35px;
    gap: 25px;
}

.info-like-post-global span:first-child{
    font-weight: bold;
}

.info-user-biographie-ctn {
    margin: 40px 100px;
}

.info-titre {
    font-size: 1rem;
}

.biographie-text {
    width: 80%;
    margin-top : 20px;
    margin-bottom : 20px;
    font-size: 0.975rem;
}