*{
    margin: 0;
    padding: 0;
    font-family: var(--font-header-regular);
}

@font-face {
    font-family: 'Bold';
    src: url('../fonts/Outfit-SemiBold.ttf'), format(truetype);
}
@font-face {
    font-family: 'SemiBold';
    src: url('../fonts/Outfit-SemiBold.ttf'), format(truetype);
}
@font-face {
    font-family: 'Regular';
    src: url('../fonts/Outfit-Regular.ttf'), format(truetype);
}

a {
    text-decoration: none;
    text-transform: none;
    color: #000;
}

/* CSS pour .section-nav */
.section-nav {
    position: fixed;
    top: 101px;
    left: 0;
    width: 100%;
    background-color: #fff; /* Couleur de fond pour .section-nav */
    z-index: 1000; /* Assurez-vous que .section-nav est au-dessus des autres éléments */
}

/* CSS pour .header-global */
.header-global {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Ajustez la hauteur selon vos besoins */
    background-color: #ffffff; /* Couleur de fond pour .header-global */
    z-index: 1000; /* Assurez-vous que .header-global est au-dessus des autres éléments */
}

/* CSS pour .profil-user-global */
.profil-user-global,
.topic-single-ctn,
.section-post,
.post-detail-ctn {
    position: relative; /* Permet au contenu de défiler à l'intérieur de .profil-user-global */
    top: 101px;
    margin-top: 120px; /* Assurez-vous que le contenu commence après .section-nav et .header-global */
    padding-left: 20%;
    background-color: #fff; /* Couleur de fond pour .profil-user-global */
}

.post-detail-ctn {
    margin-top: 0 !important;
}
:root {
    --color-green: #00cd99;
    --color-green-linear: linear-gradient(to right, #64ffdb, #00dfab);
    --color-placehorder: #737373;
    --color-line : #cccccc;
    --color-input-search: #EFEFEF;
    --font-header-bold: 'Bold';
    --font-header-semibold: 'Semibold';
    --font-header-regular: 'Regular';
} 