*{
    margin: 0;
    padding: 0;
    font-family: var(--font-header-regular);
}

@font-face {
    font-family: 'Bold';
    src: url('../fonts/Outfit-SemiBold.ttf'), format(truetype);
}
@font-face {
    font-family: 'SemiBold';
    src: url('../fonts/Outfit-SemiBold.ttf'), format(truetype);
}
@font-face {
    font-family: 'Regular';
    src: url('../fonts/Outfit-Regular.ttf'), format(truetype);
}

:root {
    --color-green: #00dfab;
    --color-green-linear: linear-gradient(to right, #64ffdb, #00dfab);
    --color-placehorder: #737373;
    --color-line : #acacac;
    --color-input-search: #EFEFEF;
    --font-header-bold: 'Bold';
    --font-header-semibold: 'Semibold';
    --font-header-regular: 'Regular';
} 