<!DOCTYPE html>
<html lang="en">

<head>
    <title>CODER</title>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
<%- include('../components/header', {PathUserLog: PathUserLog}); %>
<section class="section-global">
    <%- include('../components/aside', {dataTags: dataTags}); %>
    <section class="section-post">
        <div class="conditions-text">
        <p>Introduction
            Chez Coder, nous croyons que la vie privée est un droit. Nous voulons donner à nos utilisateurs le pouvoir de contrôler leur identité. Dans cette politique de confidentialité, nous voulons vous aider à comprendre comment et pourquoi Coder, Inc. ("Coder", "nous" ou "notre") collecte, utilise et partage des informations vous concernant lorsque vous utilisez nos sites web, applications mobiles, widgets, APIs, emails et autres produits et services en ligne (collectivement, les "Services") ou lorsque vous interagissez autrement avec nous ou recevez une communication de notre part.

            Nous voulons que cette politique de confidentialité vous permette de faire de meilleurs choix concernant votre utilisation de Coder. Nous aimerions que vous lisiez l'intégralité de la politique, mais si ce n'est pas le cas, voici un résumé :

            Coder est une plateforme publique.
            Nos communautés sont en grande partie publiques et tout le monde peut voir votre profil, vos publications et vos commentaires.

            Nous collectons des informations minimales vous concernant.
            Nous collectons par défaut des informations minimales qui peuvent être utilisées pour vous identifier. Si vous souhaitez simplement naviguer, vous n'avez pas besoin de créer de compte. Si vous voulez créer un compte pour participer à un subreddit, nous ne vous demandons pas de fournir votre vrai nom. Nous ne suivons pas votre emplacement précis. Vous pouvez même naviguer anonymement. Vous pouvez partager autant ou aussi peu d'informations vous concernant que vous le souhaitez lors de l'utilisation de Coder.

            Nous utilisons les données uniquement pour améliorer Coder.
            Toutes les données que nous collectons sont principalement utilisées pour fournir nos Services, qui sont axés sur la réunion des personnes et la formation de communautés. Nous ne vendons pas vos données personnelles à des tiers et nous ne travaillons jamais avec des courtiers en données.

            Tous nos utilisateurs bénéficient de droits en matière de vie privée - pas seulement ceux de certains pays.
            Les droits en matière de vie privée sont pour tout le monde. Chez Coder, tout le monde peut demander une copie de ses données, la suppression de son compte ou des informations sur nos politiques.

            Si vous avez des questions sur la façon dont nous utilisons les données, demandez-nous simplement.
            Nous avons fait de notre mieux pour rendre cela aussi clair que possible, mais parfois les politiques de confidentialité restent compliquées. Si vous avez besoin d'aide pour comprendre cette politique ou quoi que ce soit à propos de Coder, demandez-nous simplement.

            Quelles Informations Nous Collectons
            Informations que Vous Nous Fournissez

            Nous collectons les informations que vous nous fournissez directement lorsque vous utilisez les Services, notamment :

            Informations de Compte
            Vous n'avez pas besoin de compte pour utiliser Coder. Si vous créez un compte Coder, votre compte aura un nom d'utilisateur que vous fournissez ou qui est généré automatiquement. Votre nom d'utilisateur est public et n'a pas besoin d'être lié à votre vrai nom. Vous devrez peut-être fournir un mot de passe, selon que vous vous inscrivez en utilisant une adresse email, la fonctionnalité de connexion unique (SSO) (comme Apple ou Google) ou un numéro de téléphone. Si votre compte n'a pas de mot de passe, nous pouvons vous envoyer un SMS pour des raisons de vérification. Nous pouvons également vous demander de sélectionner des centres d'intérêt lors de la création de votre compte (par exemple, histoire, nature, sports) pour vous aider à générer un fil d'actualité personnalisé, ou de sélectionner des communautés (par exemple, r/technology) à rejoindre.

            Lorsque vous utilisez Coder, vous pouvez également fournir d'autres informations, telles qu'une biographie, le sexe, l'âge, l'emplacement, la photo de profil ou un lien social. Ces informations sont facultatives et peuvent être supprimées à tout moment.

            Nous stockons également les préférences et les paramètres de votre compte utilisateur. Nous pouvons demander ces informations avant que vous ne créiez un nom d'utilisateur ou un compte pour améliorer votre expérience d'exploration de Coder.

            Contenu que vous soumettez
            Nous collectons le contenu que vous soumettez aux Services. Cela inclut vos publications et commentaires, y compris les brouillons enregistrés, vos messages avec d'autres utilisateurs (par exemple, messages privés, chats et modmail) et vos rapports et autres communications avec les modérateurs et nous-mêmes. Votre contenu peut inclure du texte, des liens, des images, des gifs, des audios, des vidéos, des logiciels et des outils.

            Actions que vous effectuez
            Nous collectons des informations sur les actions que vous effectuez lors de l'utilisation des Services. Cela inclut vos interactions avec la plateforme et le contenu, comme voter, enregistrer, masquer et signaler. Cela inclut également vos interactions avec d'autres utilisateurs, telles que suivre et bloquer. Nous collectons vos interactions avec les communautés, comme vos abonnements ou votre statut de modérateur.

            Informations transactionnelles
            Si vous achetez des produits ou services chez nous ou par l'intermédiaire des Services, vous devrez fournir des informations de paiement pour compléter votre achat. Coder utilise des services de traitement de paiement standard de l'industrie (par exemple, Stripe) pour traiter les informations de paiement, et ces services sont soumis à des conditions et politiques de confidentialité distinctes. Nous collecterons des informations sur le produit ou le service que vous achetez (par exemple, dates d'achat, montants payés ou reçus, et dates d'expiration et de renouvellement).

            Nous pouvons également collecter des données publiques de blockchain et des adresses, par exemple lorsque vous achetez ou créez un Avatar de Collection, recevez ou frappez un NFT, ou créez un Coder Vault. Cependant, nous ne stockons jamais les informations de clé privée de Coder Vault.

            Autres informations
            Vous pouvez choisir de nous fournir d'autres informations directement. Par exemple, nous pouvons collecter des informations lorsque vous remplissez un formulaire, un sondage, participez à des activités, promotions ou programmes sponsorisés par Coder, postulez à un emploi, demandez un support client ou communiquez autrement avec nous.

            Informations que Nous Collectons Automatiquement
            Lorsque vous accédez ou utilisez nos Services, nous pouvons également collecter automatiquement des informations vous concernant, notamment :

            Données de journal et d'utilisation
            Nous pouvons enregistrer des informations lorsque vous accédez et utilisez les Services. Cela peut inclure votre adresse IP, chaîne de l'agent utilisateur, type de navigateur, système d'exploitation, URL de référence, informations sur l'appareil (par exemple, identifiants de l'appareil), paramètres de l'appareil, nom de l'opérateur mobile, pages visitées, liens cliqués, URL demandée et termes de recherche. Sauf pour l'adresse IP utilisée pour créer votre compte, Coder supprimera toute adresse IP collectée après 100 jours.

            Informations collectées à partir des cookies et technologies similaires
            Nous pouvons recevoir des informations à partir des cookies, qui sont des morceaux de données que votre navigateur stocke et renvoie lorsque vous effectuez des demandes, et des technologies similaires. Nous utilisons ces informations pour fournir et maintenir nos Services, améliorer votre expérience, comprendre l'activité des utilisateurs, personnaliser le contenu et les publicités, mesurer l'efficacité de la publicité et améliorer la qualité de nos Services. Par exemple, nous stockons et récupérons des informations sur votre langue préférée et d'autres paramètres. Consultez notre Avis sur les cookies pour plus d'informations sur la façon dont Coder utilise les cookies. Pour plus d'informations sur la façon de désactiver les cookies, consultez la section "Vos choix" ci-dessous.

            Informations de localisation
            Nous pouvons recevoir et traiter des informations sur votre emplacement. Nous pouvons recevoir des informations de localisation de votre part lorsque vous choisissez de partager ces informations sur nos Services, y compris via le paramètre de Personnalisation de la localisation ou en associant votre contenu à un emplacement, ou nous pouvons en déduire un emplacement approximatif basé sur votre adresse IP.

            Informations Collectées à partir d'Autres Sources
            Nous pouvons recevoir des informations vous concernant provenant d'autres sources, y compris d'autres utilisateurs et tiers, et les combiner avec les autres informations que nous avons sur vous. Par exemple, nous pouvons recevoir des informations démographiques ou d'intérêt vous concernant de la part de tiers, y compris des annonceurs (comme le fait qu'un annonceur souhaite vous montrer une publicité), et les combiner avec les données que vous avez fournies à Coder, en utilisant un identifiant de compte commun tel qu'un hash d'adresse email ou un identifiant d'appareil mobile. Vous pouvez contrôler la façon dont nous utilisons ces informations pour personnaliser les publicités pour vous en visitant le menu Paramètres de l'utilisateur dans votre compte, comme décrit dans la section intitulée "Vos droits et choix" ci-dessous.

            Services liés
            Si vous autorisez ou liez un service tiers (par exemple, un client d'application mobile non officiel) à accéder à votre compte Coder, Coder recevra des informations sur votre utilisation de ce service lorsqu'il utilise cette autorisation. Lier des services peut également amener l'autre service à nous envoyer des informations sur votre compte avec ce service. Par exemple, si vous vous connectez à Coder avec un fournisseur d'identité tiers, ce fournisseur peut partager une adresse email avec nous. Pour savoir comment les informations sont partagées avec des services liés, consultez la section "Comment les Informations Vous Concernant Sont Partagées" ci-dessous.

            Informations collectées à partir des intégrations
            Nous pouvons également recevoir des informations vous concernant, y compris des données de journal et d'utilisation et des informations de cookies, provenant de sites tiers qui intègrent nos Services, y compris nos intégrations et technologies publicitaires. Par exemple, lorsque vous visitez un site qui utilise les intégrations Coder, telles que les boutons "Partager" ou "Suivre", Coder peut recevoir des informations sur cette visite. De même, lorsque vous visitez un site web qui utilise une API Coder, nous pouvons recevoir des informations sur cette visite ou interaction.

            Comment Nous Utilisons Les Informations Vous Concernant
            Nous utilisons les informations vous concernant pour :

            Fournir, maintenir et améliorer les Services
            Cela inclut l'utilisation des informations pour :

            fournir et livrer les Services, traiter les transactions et vous envoyer des informations liées à votre compte ou aux Services ;
            surveiller et analyser les tendances, les utilisations et les activités liées à nos Services ;
            détecter, enquêter et prévenir les fraudes, abus, risques de sécurité et activités nuisibles ;
            tester et développer de nouvelles fonctionnalités et produits ;
            fournir un support client.
            Personnaliser le contenu et les expériences
            Nous utilisons les informations pour personnaliser le contenu que vous voyez lorsque vous utilisez les Services. Cela inclut, par exemple, de vous montrer des publications dans votre fil d'actualité qui sont similaires aux publications que vous avez aimées ou commentées dans le passé, d'afficher des recommandations basées sur vos abonnements et activités, et de personnaliser les publicités et les suggestions de communautés.

            Communiquer avec vous
            Nous utilisons les informations pour vous envoyer des communications, y compris par email, à propos de nouvelles fonctionnalités, offres et événements, et fournir des nouvelles et des informations sur nos Services. Vous pouvez choisir de ne plus recevoir certains types de communications comme décrit dans la section "Vos droits et choix" ci-dessous.

            Favoriser la sécurité et l'intégrité
            Nous utilisons les informations pour promouvoir la sécurité et l'intégrité des Services, par exemple en surveillant les activités suspectes ou frauduleuses et en détectant les violations de nos politiques.

            Comment Les Informations Vous Concernant Sont Partagées
            Nous pouvons partager les informations vous concernant avec les tiers suivants ou de la manière suivante :

            Communautés et Utilisateurs
            Vos informations, telles que votre nom d'utilisateur, vos publications, commentaires, interactions, peuvent être visibles par d'autres utilisateurs et le public. Vos actions (par exemple, voter, suivre ou bloquer) peuvent être visibles par les autres et les administrateurs des communautés. Les informations que vous choisissez de partager publiquement peuvent être visibles et indexées par les moteurs de recherche.

            Fournisseurs de Services
            Nous partageons des informations avec les fournisseurs de services qui effectuent des services pour nous, comme le traitement des paiements, l'analyse de données, l'hébergement de services, la fourniture de service client et le marketing. Ces fournisseurs n'ont accès aux informations vous concernant que pour effectuer des tâches spécifiques en notre nom et sont obligés de protéger et de sécuriser les informations.

            Filiales et Affilés
            Nous pouvons partager des informations avec nos filiales et affiliés, qui sont tenus de respecter cette politique de confidentialité.

            Pour des raisons légales et de sécurité
            Nous pouvons partager des informations en réponse à une demande légale, comme une assignation ou une ordonnance judiciaire, ou pour répondre à des procédures judiciaires ; pour protéger nos droits, propriété et sécurité, ou ceux de nos utilisateurs, de notre personnel ou d'autres personnes ; pour détecter et prévenir les fraudes, abus et risques de sécurité ; et pour se conformer aux lois et règlements applicables.

            Fusions, acquisitions ou autres transactions commerciales
            Si nous sommes impliqués dans une fusion, acquisition ou vente d'actifs, nous pouvons transférer des informations vous concernant dans le cadre de cette transaction. Nous vous informerons de tout changement de propriétaire ou d'utilisation de vos informations via nos Services ou d'autres moyens.

            Vos Droits et Choix
            Accès et contrôle de vos informations
            Vous pouvez accéder, mettre à jour et corriger vos informations de compte et préférences à tout moment via les paramètres de votre compte. Vous pouvez également supprimer vos informations de compte et préférences via les paramètres de votre compte. Vous pouvez désactiver votre compte à tout moment, et lorsque vous désactivez votre compte, votre profil et votre contenu ne seront plus visibles sur Coder, mais nous pouvons conserver certaines informations à des fins légales et commerciales, comme indiqué dans cette politique.

            Désactivation des cookies et autres technologies de suivi
            Vous pouvez configurer votre navigateur pour refuser les cookies ou pour vous avertir lorsque des cookies sont envoyés. Pour plus d'informations sur les cookies et la façon de les gérer, consultez notre Avis sur les cookies.

            Communications marketing
            Vous pouvez choisir de ne plus recevoir des communications marketing de notre part en suivant les instructions dans ces communications ou en modifiant vos paramètres de communication dans votre compte. Vous pouvez également choisir de ne plus recevoir de notifications push via les paramètres de votre appareil.

            Publicité basée sur les intérêts
            Vous pouvez contrôler la façon dont nous personnalisons les annonces pour vous via les paramètres de votre compte. Pour en savoir plus sur la publicité basée sur les intérêts et vos choix concernant ces publicités, consultez notre Avis sur les cookies.

            Autres Informations Importantes
            Sécurité
            Nous prenons des mesures pour protéger vos informations en utilisant des mesures de sécurité physiques, électroniques et de gestion pour réduire les risques de perte, d'usage abusif, d'accès non autorisé, de divulgation et d'altération. Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou méthode de stockage électronique n'est entièrement sécurisée. Nous ne pouvons donc pas garantir la sécurité absolue de vos informations.

            Conservation des données
            Nous conservons les informations vous concernant aussi longtemps que nécessaire pour fournir nos Services, nous conformer à nos obligations légales, résoudre les litiges et appliquer nos accords. La durée de conservation dépend de la nature des informations et des finalités pour lesquelles elles ont été collectées et sont utilisées.

            Modifications de cette Politique de Confidentialité
            Nous pouvons modifier cette politique de confidentialité de temps en temps. Si nous apportons des modifications, nous vous en informerons en révisant la date en haut de la politique et, dans certains cas, nous pourrons vous fournir une notification supplémentaire (comme ajouter une déclaration sur notre page d'accueil ou vous envoyer une notification). Nous vous encourageons à consulter cette politique de confidentialité périodiquement pour rester informé de nos pratiques de confidentialité.

            Nous Contacter
            Si vous avez des questions sur cette politique de confidentialité, veuillez nous contacter à l'adresse privacy@reddit.com.

            modifie a chaque mot "reddit" par le mot "coder"
            ChatGPT
            Introduction
            Chez Coder, nous croyons que la vie privée est un droit. Nous voulons donner à nos utilisateurs le pouvoir de contrôler leur identité. Dans cette politique de confidentialité, nous voulons vous aider à comprendre comment et pourquoi Coder, Inc. ("Coder", "nous" ou "notre") collecte, utilise et partage des informations vous concernant lorsque vous utilisez nos sites web, applications mobiles, widgets, APIs, emails et autres produits et services en ligne (collectivement, les "Services") ou lorsque vous interagissez autrement avec nous ou recevez une communication de notre part.

            Nous voulons que cette politique de confidentialité vous permette de faire de meilleurs choix concernant votre utilisation de Coder. Nous aimerions que vous lisiez l'intégralité de la politique, mais si ce n'est pas le cas, voici un résumé :

            Coder est une plateforme publique.
            Nos communautés sont en grande partie publiques et tout le monde peut voir votre profil, vos publications et vos commentaires.

            Nous collectons des informations minimales vous concernant.
            Nous collectons par défaut des informations minimales qui peuvent être utilisées pour vous identifier. Si vous souhaitez simplement naviguer, vous n'avez pas besoin de créer de compte. Si vous voulez créer un compte pour participer à un subreddit, nous ne vous demandons pas de fournir votre vrai nom. Nous ne suivons pas votre emplacement précis. Vous pouvez même naviguer anonymement. Vous pouvez partager autant ou aussi peu d'informations vous concernant que vous le souhaitez lors de l'utilisation de Coder.

            Nous utilisons les données uniquement pour améliorer Coder.
            Toutes les données que nous collectons sont principalement utilisées pour fournir nos Services, qui sont axés sur la réunion des personnes et la formation de communautés. Nous ne vendons pas vos données personnelles à des tiers et nous ne travaillons jamais avec des courtiers en données.

            Tous nos utilisateurs bénéficient de droits en matière de vie privée - pas seulement ceux de certains pays.
            Les droits en matière de vie privée sont pour tout le monde. Chez Coder, tout le monde peut demander une copie de ses données, la suppression de son compte ou des informations sur nos politiques.

            Si vous avez des questions sur la façon dont nous utilisons les données, demandez-nous simplement.
            Nous avons fait de notre mieux pour rendre cela aussi clair que possible, mais parfois les politiques de confidentialité restent compliquées. Si vous avez besoin d'aide pour comprendre cette politique ou quoi que ce soit à propos de Coder, demandez-nous simplement.

            Quelles Informations Nous Collectons
            Informations que Vous Nous Fournissez

            Nous collectons les informations que vous nous fournissez directement lorsque vous utilisez les Services, notamment :

            Informations de Compte
            Vous n'avez pas besoin de compte pour utiliser Coder. Si vous créez un compte Coder, votre compte aura un nom d'utilisateur que vous fournissez ou qui est généré automatiquement. Votre nom d'utilisateur est public et n'a pas besoin d'être lié à votre vrai nom. Vous devrez peut-être fournir un mot de passe, selon que vous vous inscrivez en utilisant une adresse email, la fonctionnalité de connexion unique (SSO) (comme Apple ou Google) ou un numéro de téléphone. Si votre compte n'a pas de mot de passe, nous pouvons vous envoyer un SMS pour des raisons de vérification. Nous pouvons également vous demander de sélectionner des centres d'intérêt lors de la création de votre compte (par exemple, histoire, nature, sports) pour vous aider à générer un fil d'actualité personnalisé, ou de sélectionner des communautés (par exemple, r/technology) à rejoindre.

            Lorsque vous utilisez Coder, vous pouvez également fournir d'autres informations, telles qu'une biographie, le sexe, l'âge, l'emplacement, la photo de profil ou un lien social. Ces informations sont facultatives et peuvent être supprimées à tout moment.

            Nous stockons également les préférences et les paramètres de votre compte utilisateur. Nous pouvons demander ces informations avant que vous ne créiez un nom d'utilisateur ou un compte pour améliorer votre expérience d'exploration de Coder.

            Contenu que vous soumettez
            Nous collectons le contenu que vous soumettez aux Services. Cela inclut vos publications et commentaires, y compris les brouillons enregistrés, vos messages avec d'autres utilisateurs (par exemple, messages privés, chats et modmail) et vos rapports et autres communications avec les modérateurs et nous-mêmes. Votre contenu peut inclure du texte, des liens, des images, des gifs, des audios, des vidéos, des logiciels et des outils.

            Actions que vous effectuez
            Nous collectons des informations sur les actions que vous effectuez lors de l'utilisation des Services. Cela inclut vos interactions avec la plateforme et le contenu, comme voter, enregistrer, masquer et signaler. Cela inclut également vos interactions avec d'autres utilisateurs, telles que suivre et bloquer. Nous collectons vos interactions avec les communautés, comme vos abonnements ou votre statut de modérateur.

            Informations transactionnelles
            Si vous achetez des produits ou services chez nous ou par l'intermédiaire des Services, vous devrez fournir des informations de paiement pour compléter votre achat. Coder utilise des services de traitement de paiement standard de l'industrie (par exemple, Stripe) pour traiter les informations de paiement, et ces services sont soumis à des conditions et politiques de confidentialité distinctes. Nous collecterons des informations sur le produit ou le service que vous achetez (par exemple, dates d'achat, montants payés ou reçus, et dates d'expiration et de renouvellement).

            Nous pouvons également collecter des données publiques de blockchain et des adresses, par exemple lorsque vous achetez ou créez un Avatar de Collection, recevez ou frappez un NFT, ou créez un Coder Vault. Cependant, nous ne stockons jamais les informations de clé privée de Coder Vault.

            Autres informations
            Vous pouvez choisir de nous fournir d'autres informations directement. Par exemple, nous pouvons collecter des informations lorsque vous remplissez un formulaire, un sondage, participez à des activités, promotions ou programmes sponsorisés par Coder, postulez à un emploi, demandez un support client ou communiquez autrement avec nous.

            Informations que Nous Collectons Automatiquement
            Lorsque vous accédez ou utilisez nos Services, nous pouvons également collecter automatiquement des informations vous concernant, notamment :

            Données de journal et d'utilisation
            Nous pouvons enregistrer des informations lorsque vous accédez et utilisez les Services. Cela peut inclure votre adresse IP, chaîne de l'agent utilisateur, type de navigateur, système d'exploitation, URL de référence, informations sur l'appareil (par exemple, identifiants de l'appareil), paramètres de l'appareil, nom de l'opérateur mobile, pages visitées, liens cliqués, URL demandée et termes de recherche. Sauf pour l'adresse IP utilisée pour créer votre compte, Coder supprimera toute adresse IP collectée après 100 jours.

            Informations collectées à partir des cookies et technologies similaires
            Nous pouvons recevoir des informations à partir des cookies, qui sont des morceaux de données que votre navigateur stocke et renvoie lorsque vous effectuez des demandes, et des technologies similaires. Nous utilisons ces informations pour fournir et maintenir nos Services, améliorer votre expérience, comprendre l'activité des utilisateurs, personnaliser le contenu et les publicités, mesurer l'efficacité de la publicité et améliorer la qualité de nos Services. Par exemple, nous stockons et récupérons des informations sur votre langue préférée et d'autres paramètres. Consultez notre Avis sur les cookies pour plus d'informations sur la façon dont Coder utilise les cookies. Pour plus d'informations sur la façon de désactiver les cookies, consultez la section "Vos choix" ci-dessous.

            Informations de localisation
            Nous pouvons recevoir et traiter des informations sur votre emplacement. Nous pouvons recevoir des informations de localisation de votre part lorsque vous choisissez de partager ces informations sur nos Services, y compris via le paramètre de Personnalisation de la localisation ou en associant votre contenu à un emplacement, ou nous pouvons en déduire un emplacement approximatif basé sur votre adresse IP.

            Informations Collectées à partir d'Autres Sources
            Nous pouvons recevoir des informations vous concernant provenant d'autres sources, y compris d'autres utilisateurs et tiers, et les combiner avec les autres informations que nous avons sur vous. Par exemple, nous pouvons recevoir des informations démographiques ou d'intérêt vous concernant de la part de tiers, y compris des annonceurs (comme le fait qu'un annonceur souhaite vous montrer une publicité), et les combiner avec les données que vous avez fournies à Coder, en utilisant un identifiant de compte commun tel qu'un hash d'adresse email ou un identifiant d'appareil mobile. Vous pouvez contrôler la façon dont nous utilisons ces informations pour personnaliser les publicités pour vous en visitant le menu Paramètres de l'utilisateur dans votre compte, comme décrit dans la section intitulée "Vos droits et choix" ci-dessous.

            Services liés
            Si vous autorisez ou liez un service tiers (par exemple, un client d'application mobile non officiel) à accéder à votre compte Coder, Coder recevra des informations sur votre utilisation de ce service lorsqu'il utilise cette autorisation. Lier des services peut également amener l'autre service à nous envoyer des informations sur votre compte avec ce service. Par exemple, si vous vous connectez à Coder avec un fournisseur d'identité tiers, ce fournisseur peut partager une adresse email avec nous. Pour savoir comment les informations sont partagées avec des services liés, consultez la section "Comment les Informations Vous Concernant Sont Partagées" ci-dessous.

            Informations collectées à partir des intégrations
            Nous pouvons également recevoir des informations vous concernant, y compris des données de journal et d'utilisation et des informations de cookies, provenant de sites tiers qui intègrent nos Services, y compris nos intégrations et technologies de publicité. Par exemple, lorsque vous visitez un site web qui utilise nos boutons "Partager" ou "Suivre", Coder peut recevoir des informations sur cette visite. De même, lorsque vous visitez un site web qui utilise une API Coder, nous pouvons recevoir des informations sur cette visite ou interaction.

            Comment Nous Utilisons Les Informations Vous Concernant
            Nous utilisons les informations vous concernant pour :

            Fournir, maintenir et améliorer les Services
            Cela inclut l'utilisation des informations pour :

            fournir et livrer les Services, traiter les transactions et vous envoyer des informations liées à votre compte ou aux Services ;
            surveiller et analyser les tendances, les utilisations et les activités liées à nos Services ;
            détecter, enquêter et prévenir les fraudes, abus, risques de sécurité et activités nuisibles ;
            tester et développer de nouvelles fonctionnalités et produits ;
            fournir un support client.
            Personnaliser le contenu et les expériences
            Nous utilisons les informations pour personnaliser le contenu que vous voyez lorsque vous utilisez les Services. Cela inclut, par exemple, de vous montrer des publications dans votre fil d'actualité qui sont similaires aux publications que vous avez aimées ou commentées dans le passé, d'afficher des recommandations basées sur vos abonnements et activités, et de personnaliser les publicités et les suggestions de communautés.

            Communiquer avec vous
            Nous utilisons les informations pour vous envoyer des communications, y compris par email, à propos de nouvelles fonctionnalités, offres et événements, et fournir des nouvelles et des informations sur nos Services. Vous pouvez choisir de ne plus recevoir certains types de communications comme décrit dans la section "Vos droits et choix" ci-dessous.

            Favoriser la sécurité et l'intégrité
            Nous utilisons les informations pour promouvoir la sécurité et l'intégrité des Services, par exemple en surveillant les activités suspectes ou frauduleuses et en détectant les violations de nos politiques.

            Comment Les Informations Vous Concernant Sont Partagées
            Nous pouvons partager les informations vous concernant avec les tiers suivants ou de la manière suivante :

            Communautés et Utilisateurs
            Vos informations, telles que votre nom d'utilisateur, vos publications, commentaires, interactions, peuvent être visibles par d'autres utilisateurs et le public. Vos actions (par exemple, voter, suivre ou bloquer) peuvent être visibles par les autres et les administrateurs des communautés. Les informations que vous choisissez de partager publiquement peuvent être visibles et indexées par les moteurs de recherche.

            Fournisseurs de Services
            Nous partageons des informations avec les fournisseurs de services qui effectuent des services pour nous, comme le traitement des paiements, l'analyse de données, l'hébergement de services, la fourniture de service client et le marketing. Ces fournisseurs n'ont accès aux informations vous concernant que pour effectuer des tâches spécifiques en notre nom et sont obligés de protéger et de sécuriser les informations.

            Filiales et Affilés
            Nous pouvons partager des informations avec nos filiales et affiliés, qui sont tenus de respecter cette politique de confidentialité.

            Pour des raisons légales et de sécurité
            Nous pouvons partager des informations en réponse à une demande légale, comme une assignation ou une ordonnance judiciaire, ou pour répondre à des procédures judiciaires ; pour protéger nos droits, propriété et sécurité, ou ceux de nos utilisateurs, de notre personnel ou d'autres personnes ; pour détecter et prévenir les fraudes, abus et risques de sécurité ; et pour se conformer aux lois et règlements applicables.

            Fusions, acquisitions ou autres transactions commerciales
            Si nous sommes impliqués dans une fusion, acquisition ou vente d'actifs, nous pouvons transférer des informations vous concernant dans le cadre de cette transaction. Nous vous informerons de tout changement de propriétaire ou d'utilisation de vos informations via nos Services ou d'autres moyens.

            Vos Droits et Choix
            Accès et contrôle de vos informations
            Vous pouvez accéder, mettre à jour et corriger vos informations de compte et préférences à tout moment via les paramètres de votre compte. Vous pouvez également supprimer vos informations de compte et préférences via les paramètres de votre compte. Vous pouvez désactiver votre compte à tout moment, et lorsque vous désactivez votre compte, votre profil et votre contenu ne seront plus visibles sur Coder, mais nous pouvons conserver certaines informations à des fins légales et commerciales, comme indiqué dans cette politique.

            Désactivation des cookies et autres technologies de suivi
            Vous pouvez configurer votre navigateur pour refuser les cookies ou pour vous avertir lorsque des cookies sont envoyés. Pour plus d'informations sur les cookies et la façon de les gérer, consultez notre Avis sur les cookies.

            Communications marketing
            Vous pouvez choisir de ne plus recevoir des communications marketing de notre part en suivant les instructions dans ces communications ou en modifiant vos paramètres de communication dans votre compte. Vous pouvez également choisir de ne plus recevoir de notifications push via les paramètres de votre appareil.

            Publicité basée sur les intérêts
            Vous pouvez contrôler la façon dont nous personnalisons les annonces pour vous via les paramètres de votre compte. Pour en savoir plus sur la publicité basée sur les intérêts et vos choix concernant ces publicités, consultez notre Avis sur les cookies.

            Autres Informations Importantes
            Sécurité
            Nous prenons des mesures pour protéger vos informations en utilisant des mesures de sécurité physiques, électroniques et de gestion pour réduire les risques de perte, d'usage abusif, d'accès non autorisé, de divulgation et d'altération. Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou méthode de stockage électronique n'est entièrement sécurisée. Nous ne pouvons donc pas garantir la sécurité absolue de vos informations.

            Conservation des données
            Nous conservons les informations vous concernant aussi longtemps que nécessaire pour fournir nos Services, nous conformer à nos obligations légales, résoudre les litiges et appliquer nos accords. La durée de conservation dépend de la nature des informations et des finalités pour lesquelles elles ont été collectées et sont utilisées.

            Modifications de cette Politique de Confidentialité
            Nous pouvons modifier cette politique de confidentialité de temps en temps. Si nous apportons des modifications, nous vous en informerons en révisant la date en haut de la politique et, dans certains cas, nous pourrons vous fournir une notification supplémentaire (comme ajouter une déclaration sur notre page d'accueil ou vous envoyer une notification). Nous vous encourageons à consulter cette politique de confidentialité périodiquement pour rester informé de nos pratiques de confidentialité.

            Nous Contacter
            Si vous avez des questions sur cette politique de confidentialité, veuillez nous contacter à l'adresse privacy@coder.com.</p>
        </div>
    </section>
</section>
</body>

</html>