<!doctype html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <title>Politique de Confidentialité de Coder</title>
</head>
<body>
<%- include('../components/header', {PathUserLog: PathUserLog}); %>
<section class="terms-global-ctn">
    <div class="aside-jump-to-ctn">
        <h1>Aller à </h1>
        <div class="aside-jump-to-ul-ctn">
            <ul class="aside-jump-to-ul">
                <li><a href="#policy-h2-1">Introduction</a></li>
                <li><a href="#policy-h2-2">Quelles informations collectons-nous ?</a></li>
                <li><a href="#policy-h2-3">Comment utilisons-nous vos informations ?</a></li>
                <li><a href="#policy-h2-4">Coder est une plateforme publique</a></li>
                <li><a href="#policy-h2-5">Comment partageons-nous vos informations ?</a></li>
                <li><a href="#policy-h2-6">Comment protégeons-nous vos informations ?</a></li>
                <li><a href="#policy-h2-7">Vos droits et choix</a></li>
                <li><a href="#policy-h2-8">Transferts de données internationaux</a></li>
                <li><a href="#policy-h2-9">Informations supplémentaires pour les membres de l’EEE et les membres du Royaume-Uni</a>
                </li>
                <li><a href="#policy-h2-10">Informations supplémentaires pour les membres californiens</a></li>
                <li><a href="#policy-h2-11">Enfants</a></li>
                <li><a href="#policy-h2-12">Modifications de la présente politique</a></li>
                <li><a href="#policy-h2-13">Contactez-nous</a></li>
            </ul>
        </div>
    </div>
    <div class="terms-ctn">
        <h1>Politique de Confidentialité de Coder</h1>
        <div>
            <h2 id="policy-h2-1">Introduction</h2>
            <div>
                <p>Chez Coder, nous pensons que la confidentialité est un droit. Nous voulons permettre à nos
                    utilisateurs d’être maîtres de leur identité. Dans la présente politique de confidentialité, nous
                    voulons vous aider à comprendre comment et pourquoi Coder, Inc. (« Coder », « nous ») collecte,
                    utilise et partage des informations vous concernant lorsque vous utilisez nos sites web,
                    applications mobiles, widgets, API, emails et autres produits et services en ligne (collectivement,
                    les « Services ») ou lorsque vous interagissez autrement avec nous ou recevez une communication de
                    notre part.</p>
                <p>Nous souhaitons que la présente politique de confidentialité vous permette de faire de meilleurs
                    choix quant à votre utilisation de Coder. Nous vous invitons à lire l’intégralité de la politique.
                    Si vous ne le faites pas, en voici un résumé :</p>
                <ul class="aside-jump-to-ul" style="padding-left: 2rem;}">
                    <li>
                        <a href="">
                            Coder est une plateforme publique.
                        </a>
                    </li>
                </ul>
                <p>Coder est une plateforme publique. Nos communautés sont ouvertes au grand public et n’importe qui
                    peut voir votre profil, vos publications et vos commentaires.</p>
                <ul class="aside-jump-to-ul" style="padding-left: 2rem;}">
                    <li>
                        <a href="">
                            Nous collectons un minimum d’informations vous concernant.
                        </a>
                    </li>
                </ul>
                <p>Nous collectons par défaut un minimum d’informations pouvant être utilisées pour vous identifier. Si
                    vous souhaitez simplement naviguer, vous n’avez pas besoin d’un compte. Si vous souhaitez créer un
                    compte pour rejoindre une communauté, nous ne vous demandons pas de nous donner votre vrai nom. Nous
                    ne suivons pas votre localisation précise. Tu peux même explorer le site de façon <a
                            href="">anonyme</a>. Vous
                    pouvez partager autant ou aussi peu d’informations sur vous-même que vous le souhaitez lorsque vous
                    utilisez Coder.</p>
                <ul class="aside-jump-to-ul" style="padding-left: 2rem;}">
                    <li>
                        <a href="">
                            Nous utilisons les données uniquement pour améliorer Coder.
                        </a>
                    </li>
                </ul>
                <p>Toutes les données que nous collectons sont principalement utilisées pour fournir nos Services, qui
                    visent à permettre aux gens de se réunir et de former des communautés. Nous ne vendons pas vos
                    données à caractère personnel à des tiers et ne travaillons jamais avec des courtiers en
                    données.</p>
                <ul class="aside-jump-to-ul" style="padding-left: 2rem;}">
                    <li>
                        <a href="">
                            L’ensemble de nos membres bénéficient de droits en matière de protection de la vie privée,
                            et pas seulement ceux qui résident dans certains pays.
                        </a>
                    </li>
                </ul>
                <p>Le respect de la vie privée est un droit universel. Sur Coder, tout le monde peut demander une copie
                    de ses données, la suppression de son compte ou des informations sur nos politiqu</p>
                <ul class="aside-jump-to-ul" style="padding-left: 2rem;}">
                    <li>
                        <a href="">
                            Si vous avez des questions sur la manière dont nous utilisons les données, n’hésitez pas à
                            les poser.
                        </a>
                    </li>
                </ul>
                <p>Nous mettons tout en œuvre pour que la présente politique de confidentialité soit la plus accessible
                    possible, mais il arrive qu’elle manque de clarté. Si vous avez besoin d’aide pour comprendre cette
                    politique ou quoi que ce soit à propos de Coder, <a href="">n’hésitez pas à nous contacter.</a></p>
            </div>
            <div class="information-collected">
                <h2 id="policy-h2-2">Quelles informations collectons-nous ?</h2>
                <div class="overflow-x-scroll w-100">
                    <table border="1">
                        <tbody>
                        <tr valign="top">
                            <td>
                                <table>
                                    <tbody>
                                    <tr valign="top">
                                        <td width="8"></td>
                                        <td colspan="3">
                                            <br>
                                            <u>Les informations que vous nous fournissez</u>
                                            <br>
                                            Nous collectons les informations que vous nous fournissez directement
                                            lorsque
                                            vous utilisez les Services. Il s’agit de ce qui suit :
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Informations sur le compte</em></p>
                                        </td>
                                        <td width="2%"></td>
                                        <td>
                                            <p>
                                                Vous n’avez pas besoin d’un compte pour utiliser Coder. Si vous créez un
                                                compte Coder, Vous devrez peut-être fournir un mot de passe. Votre
                                                pseudo
                                                est public et ne doit pas nécessairement être lié à votre vrai nom.
                                                Vous devrez peut-être fournir un mot de passe, selon
                                                que vous vous inscrivez à l’aide d’une adresse email, d’une fonction
                                                d’authentification unique (SSO) (comme celle d’Apple ou Google) ou d’un
                                                numéro de téléphone. Si votre compte n’a pas de mot de passe, nous
                                                pouvons
                                                vous envoyer un SMS à des fins de vérification. Nous pouvons également
                                                vous
                                                demander de sélectionner des centres d’intérêt lors de la création de
                                                votre
                                                compte (par exemple, l’ejs, l'html, Golang) pour vous aider à
                                                créer un flux d’accueil, ou de sélectionner des communautés (par
                                                exemple,
                                                t/technology) à rejoindre.
                                            </p>
                                            <p>
                                                Lorsque vous utilisez Coder, vous pouvez également fournir d’autres
                                                informations, telles qu’une biographie, votre genre, votre âge, votre
                                                localisation, une photo de profil ou un lien vers un réseau social. Ces
                                                informations sont facultatives et peuvent être supprimées à tout moment.
                                            </p>
                                            <p>
                                                Nous stockons également les préférences et les paramètres de votre
                                                compte.
                                                Nous pouvons vous demander ces informations avant que vous ne créiez un
                                                pseudo ou un compte afin d’améliorer votre expérience sur Coder.
                                            </p>
                                        </td>
                                        <td width="8"></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Contenu que vous soumettez</em></p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <p>
                                                Nous collectons le contenu que vous soumettez aux Services. Il s’agit de
                                                vos
                                                publications et commentaires, y compris les brouillons enregistrés, de
                                                vos
                                                messages avec d’autres membres (par exemple, messages privés,
                                                discussions et
                                                courrier de modération), ainsi que de vos signalements et autres
                                                communications avec les modos et nous-mêmes. Votre contenu peut inclure
                                                du
                                                texte, des liens, des images, des gifs, des fichiers audio et vidéo, des
                                                logiciels et des outils.
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Actions que vous effectuez</em></p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <p>
                                                Nous collectons des informations sur les actions que vous effectuez
                                                lorsque
                                                vous utilisez les Services. Cela inclut vos interactions avec la
                                                plateforme
                                                et le contenu, comme le vote, l’enregistrement, le masquage et le
                                                signalement. Il s’agit également de vos interactions avec d’autres
                                                membres,
                                                telles que le suivi ou le blocage. Nous collectons vos interactions avec
                                                les
                                                communautés, comme vos abonnements ou votre statut de modo.
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Informations transactionnelles</em></p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <p>
                                                Si vous achetez nos produits ou services ou si vous les achetez par
                                                l’intermédiaire des Services, vous devrez fournir des informations de
                                                paiement afin de finaliser votre achat. Coder utilise des services de
                                                traitement des paiements standard (par exemple, Stripe) pour traiter les
                                                informations relatives aux paiements, et ces services sont soumis à des
                                                conditions et à des politiques de confidentialité distinctes. Nous
                                                collectons des informations sur le produit ou le service que vous
                                                achetez
                                                (par exemple, les dates d’achat, les montants payés ou reçus, les dates
                                                d’expiration et de renouvellement).
                                            </p>
                                            <p>
                                                Nous pouvons également collecter des données et des adresses de
                                                blockchain
                                                publique, par exemple lorsque vous achetez ou créez un avatar de
                                                collection,
                                                recevez ou émettez un NFT, ou créez un Coffre-fort Coder. Toutefois,
                                                nous
                                                ne stockons jamais les informations relatives à la clé privée du
                                                Coffre-fort
                                                Coder.
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Autres informations</em></p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <p>
                                                Vous pouvez choisir de nous fournir d’autres informations directement.
                                                Par
                                                exemple, nous pouvons collecter des informations lorsque vous remplissez
                                                un
                                                formulaire, participez à des enquêtes, à des programmes, activités ou
                                                promotions parrainées par Coder, postulez à un emploi, demandez de
                                                l’aide
                                                au service client ou communiquez avec nous de toute autre manière.
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overflow-x-scroll w-100">
                    <table border="1">
                        <tbody>
                        <tr valign="top">
                            <td>
                                <table>
                                    <tbody>
                                    <tr valign="top">
                                        <td width="8"></td>
                                        <td colspan="3">
                                            <br><u>Informations que nous collectons automatiquement</u>
                                            <br>
                                            Lorsque vous accédez à nos Services ou que vous les utilisez, nous pouvons
                                            également collecter automatiquement des informations vous concernant. Il
                                            s’agit de ce qui suit :
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Données de journal et d’utilisation</em></p>
                                        </td>
                                        <td width="2%"></td>
                                        <td>
                                            <p>
                                                Nous pouvons enregistrer des informations lorsque vous accédez aux
                                                Services
                                                et que vous les utilisez. Il peut s’agir de votre adresse IP, de la
                                                chaîne
                                                de caractères agent utilisateur, du type de navigateur, du système
                                                d’exploitation, des URL de référence, des informations sur l’appareil
                                                (par
                                                exemple, les identifiants de l’appareil), des paramètres de l’appareil,
                                                du
                                                nom de l’opérateur mobile, des pages visitées, des liens sur lesquels
                                                vous
                                                avez cliqués, de l’URL demandée et des termes de recherche. À
                                                l’exception de
                                                l’adresse IP utilisée pour créer votre compte, Coder supprimera toutes
                                                les
                                                adresses IP collectées après 100 jours.
                                            </p>
                                        </td>
                                        <td width="8"></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p>
                                                <em>Informations collectées à partir de cookies et de technologies
                                                    similaires</em>
                                            </p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <p>
                                                Nous pouvons recevoir des informations provenant de cookies qui sont des
                                                éléments de données que votre navigateur stocke et nous renvoie lors de
                                                vos
                                                requêtes, et de technologies similaires. Nous utilisons ces informations
                                                pour fournir et maintenir nos Services, améliorer votre expérience,
                                                comprendre l’activité des membres, personnaliser le contenu et les
                                                publicités, mesurer l’efficacité de la publicité et améliorer la qualité
                                                de
                                                nos Services. Par exemple, nous stockons et récupérons des informations
                                                sur
                                                votre langue préférée et d’autres paramètres. Consultez notre
                                                <a href="https://www.coderinc.com/policies/cookies">Avis sur les
                                                    cookies</a>
                                                pour obtenir de plus amples informations sur la façon dont Coder utilise
                                                les cookies. Pour obtenir de plus amples informations sur la façon dont
                                                vous
                                                pouvez désactiver les cookies, veuillez consulter la section « Vos choix
                                                »
                                                ci-dessous.
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Informations sur la localisation</em></p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <p>
                                                Nous pouvons recevoir et traiter des informations sur votre
                                                localisation.
                                                Nous pouvons recevoir des informations de localisation de votre part
                                                lorsque
                                                vous choisissez de partager ces informations sur nos Services, y compris
                                                via
                                                le paramètre de Personnalisation de la localisation ou en associant
                                                votre
                                                contenu à un emplacement, ou nous pouvons déduire un emplacement
                                                approximatif à partir de votre adresse IP.
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overflow-x-scroll w-100">
                    <table border="1">
                        <tbody>
                        <tr valign="top">
                            <td>
                                <table>
                                    <tbody>
                                    <tr valign="top">
                                        <td width="8"></td>
                                        <td colspan="3">
                                            <br><u>Informations collectées auprès d’autres sources</u><br>Nous pouvons
                                            recevoir des informations vous concernant provenant d’autres sources, y
                                            compris d’autres membres et de tiers, et combiner ces informations avec les
                                            autres informations vous concernant dont nous disposons. Par exemple, nous
                                            pouvons recevoir des informations démographiques ou relatives à vos centres
                                            d’intérêt de la part de tiers, y compris des annonceurs (comme le fait qu’un
                                            annonceur soit intéressé par la présentation d’une publicité à votre
                                            attention), et les combiner aux données que vous avez fournies à Coder, à
                                            l’aide d’un identifiant de compte commun tel que le hachage d’une adresse
                                            email ou d’un identifiant d’appareil mobile. Vous pouvez contrôler la
                                            manière
                                            dont nous utilisons ces informations pour personnaliser les publicités qui
                                            vous sont destinées en accédant au menu Paramètres de votre compte, comme
                                            décrit dans la section intitulée « Vos droits et vos choix » ci-dessous.
                                            <br>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Services liés</em></p>
                                        </td>
                                        <td width="2%"></td>
                                        <td>
                                            <p>
                                                Si vous autorisez ou liez un service tiers (par exemple, un client
                                                d’application mobile non officiel) pour accéder à votre compte Coder,
                                                Coder reçoit des informations sur votre utilisation de ce service
                                                lorsqu’il
                                                utilise cette autorisation. Un lien entre services peut également amener
                                                l’autre service à nous envoyer des informations sur votre compte avec ce
                                                service. Par exemple, si vous vous connectez à Coder avec un fournisseur
                                                d’identité tiers, ce dernier peut partager une adresse email avec nous.
                                                Pour
                                                savoir comment les informations sont partagées avec les services liés,
                                                veuillez consulter la section « Comment les informations vous concernant
                                                sont partagées » ci-dessous.
                                            </p>
                                        </td>
                                        <td width="8"></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Informations collectées à partir des intégrations</em></p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <p>
                                                Nous pouvons également recevoir des informations vous concernant, y
                                                compris
                                                des données de connexion et d’utilisation et des informations sur les
                                                cookies, de la part de sites tiers qui intègrent nos Services, y compris
                                                nos
                                                intégrations et notre technologie publicitaire. Par exemple, lorsque
                                                vous
                                                visitez un site qui utilise
                                                <a href="https://www.coderinc.com/policies/embeds-terms">Coder
                                                    embeds</a>,
                                                nous pouvons recevoir des informations sur la page Internet que vous
                                                avez
                                                visitée. De même, si un annonceur intègre la technologie publicitaire de
                                                Coder, Coder peut recevoir des informations limitées sur votre activité
                                                sur le site ou l’application de l’annonceur, par exemple si vous avez
                                                acheté
                                                quelque chose auprès de l’annonceur. Vous pouvez contrôler la manière
                                                dont
                                                nous utilisons ces informations pour personnaliser les Services pour
                                                vous,
                                                comme décrit dans la section « Vos Choix - Contrôle de la Publicité et
                                                des
                                                Analyses » ci-dessous.
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overflow-x-scroll w-100">
                    <table border="1">
                        <tbody>
                        <tr valign="top">
                            <td>
                                <table>
                                    <tbody>
                                    <tr valign="top">
                                        <td width="8"></td>
                                        <td colspan="3"><br><u>Informations collectées par des tiers</u></td>
                                        <td></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Contenu intégré</em></p>
                                        </td>
                                        <td width="2%"></td>
                                        <td>
                                            <p>
                                                Coder affiche certains contenus liés en ligne sur les Services via des «
                                                intégrations ». Par exemple, les publications Coder qui contiennent un
                                                lien
                                                vers YouTube ou X peuvent charger la vidéo ou le tweet lié dans Coder
                                                directement à partir de ces services sur votre appareil afin que vous
                                                n’ayez
                                                pas à quitter Coder pour le visualiser. En général, Coder ne contrôle
                                                pas
                                                la manière dont les services tiers collectent les données lorsqu’ils
                                                vous
                                                transmettent leur contenu directement via ces intégrations. Par
                                                conséquent,
                                                le contenu intégré n’est pas couvert par la présente politique de
                                                confidentialité, mais par les politiques du service à partir duquel le
                                                contenu est intégré.
                                            </p>
                                        </td>
                                        <td width="8"></td>
                                    </tr>
                                    <tr valign="top">
                                        <td></td>
                                        <td>
                                            <p><em>Mesure de l’audience</em></p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <p>
                                                Nous travaillons en partenariat avec des prestataires de services qui
                                                assurent des mesures d’audience pour obtenir des informations
                                                démographiques
                                                sur la population qui utilise Coder. Pour fournir ces informations
                                                démographiques, ces sociétés collectent des informations de type cookie
                                                pour
                                                reconnaître votre appareil.
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overflow-x-scroll w-100">
                    <table border="1">
                        <tbody>
                        <tr valign="top">
                            <td>
                                <table>
                                    <tbody>
                                    <tr valign="top">
                                        <td width="8"></td>
                                        <td colspan="3">
                                            <br><u>Informations collectées auprès des annonceurs et des annonceurs
                                                potentiels</u>
                                            <br>Si vous utilisez Coder Ads (la plateforme publicitaire en libre-service
                                            de Coder sur ads.Coder.com), nous collectons des informations
                                            supplémentaires. Pour vous inscrire à Coder Ads, vous devez fournir votre
                                            nom, votre adresse email et des informations sur votre entreprise. Coder
                                            peut
                                            rendre les informations relatives à votre entreprise publique afin de
                                            respecter la législation en vigueur. Si vous achetez des services
                                            publicitaires, vous devrez fournir des informations transactionnelles comme
                                            décrit ci-dessus, et nous pouvons également exiger des documents
                                            supplémentaires pour vérifier votre identité. Lorsque vous utilisez Coder
                                            Ads, nous pouvons enregistrer une session de votre visite à des fins de
                                            service à la clientèle, de dépannage et de recherche sur la convivialité.
                                            <br><br>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overflow-x-scroll w-100">
                    <table border="1">
                        <tbody>
                        <tr valign="top">
                            <td>
                                <table>
                                    <tbody>
                                    <tr valign="top">
                                        <td width="8"></td>
                                        <td colspan="3">
                                            <br>
                                            <u>Informations collectées auprès des participants et des participants
                                                potentiels au programme Coder</u>
                                            <br>Si vous vous inscrivez pour participer à un Programme Coder (par
                                            exemple, notre Programme de contribution), nous collectons, directement ou
                                            indirectement par l’intermédiaire de nos prestataires, certaines
                                            informations
                                            supplémentaires vous concernant (par exemple, votre nom, votre date de
                                            naissance, votre adresse, votre adresse email, vos informations fiscales,
                                            votre pièce d’identité et vos informations de paiement). Ces informations
                                            supplémentaires sont utilisées et partagées avec nos prestataires tiers de
                                            paiement et en charge de la conformité afin de déterminer votre éligibilité
                                            à
                                            participer au Programme Coder applicable, de faciliter les paiements et de
                                            se
                                            conformer à la loi. Ces prestataires et leurs services sont soumis à des
                                            conditions et politiques de confidentialité distinctes. <br><br>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="information-use">
                <h2 id="policy-h2-3">Comment utilisons-nous vos informations ?</h2>
                <p><br>Nous utilisons les informations vous concernant pour :</p>
                <ul class="aside-jump-to-ul" style="padding-left: 2rem; color: black;}">
                    <li>
                        Fournir, maintenir et améliorer les Services ;
                    </li>
                    <li>
                        Personnaliser les services, le contenu et les fonctionnalités en fonction de vos activités,
                        préférences et paramètres ;
                    </li>
                    <li>
                        Aider à garantir la sécurité de Coder et de ses membres, ce qui inclut le blocage des
                        spammeurs présumés, le traitement des abus et l’application du Contrat d’utilisation de
                        Coder
                        et de nos autres <a href="https://www.coderinc.com/policies/">conditions et politiques</a>,
                        ainsi que le respect des lois en vigueur ;
                    </li>
                    <li>
                        Fournir, optimiser, cibler, mesurer l’efficacité des publicités diffusées sur nos Services ;
                    </li>
                    <li>
                        Rechercher et développer de nouveaux services ;
                    </li>
                    <li>
                        Vous envoyer des avis techniques, des mises à jour, des alertes de sécurité, des factures et
                        d’autres messages d’assistance et administratifs ;
                    </li>
                    <li>
                        Fournir un service à la clientèle ;
                    </li>
                    <li>
                        Communiquer avec vous au sujet de produits, de services, d’offres, de promotions,
                        d’événements
                        et de programmes, et vous fournir d’autres nouvelles et informations qui, selon nous,
                        pourraient vous intéresser (pour savoir comment refuser ces communications, consultez la
                        section « Vos Choix » ci-dessous) ;
                    </li>
                    <li>
                        Surveiller et analyser les tendances, l’utilisation et les activités liées à nos Services.
                    </li>
                </ul>
            </div>
            <div class="platform">
                <h2 id="policy-h2-4">Coder est une plateforme publique</h2>
                <p>
                    La plupart des informations contenues dans les Services sont publiques et accessibles à tous,
                    même si on ne dispose pas d’un compte. En utilisant les Services, vous nous demandez de partager
                    ces informations publiquement et librement.
                </p>
                <p>
                    Lorsque vous soumettez du contenu (c’est-à-dire une publication, un commentaire ou un message de
                    discussion) à une partie publique des Services, l’ensemble des visiteur·se·s et membres de nos
                    Services pourront voir ce contenu, le pseudo associé au contenu, ainsi que la date et l’heure
                    auxquelles vous avez initialement soumis le contenu. Ce contenu et ces informations peuvent
                    également être disponibles dans les résultats de recherche des moteurs de recherche comme
                    Google. Vous devez tenir compte du caractère public des Services avant toute publication.
                </p>
                <p>
                    Votre compte Coder possède une page de profil qui est publique. Votre profil contient des
                    informations sur vos activités sur les Services, telles que votre pseudo, vos publications et
                    commentaires antérieurs, votre karma, les trophées reçus, le nom de membre affiché sur votre
                    profil, la section « À propos » et les liens vers les réseaux sociaux, votre avatar ou image de
                    profil, votre statut de modo, de contributeur·se et de Coder Premium, les communautés dans
                    lesquelles vous interagissez et la durée de votre participation aux Services (votre « jour du
                    gâteau »).
                </p>
                <p>
                    Nous proposons des fonctionnalités de partage sur les réseaux sociaux qui vous permettent de
                    partager le contenu ou les actions que vous effectuez sur nos Services avec d’autres médias.
                    Votre utilisation de ces fonctionnalités permet le partage de certaines informations avec vos
                    amis ou le public, en fonction des paramètres que vous établissez avec le tiers qui fournit la
                    fonctionnalité de partage sur les réseaux sociaux. Pour plus d’informations sur la finalité et
                    la portée de la collecte et du traitement des données en rapport avec les fonctionnalités de
                    partage sur les réseaux sociaux, veuillez consulter les politiques de confidentialité des tiers
                    qui fournissent ces fonctionnalités (par exemple,
                    <a href="https://www.tumblr.com/privacy">Tumblr</a>,
                    <a href="https://www.facebook.com/about/privacy/">Facebook</a>, et
                    <a href="https://twitter.com/privacy">X</a>).
                </p>
                <p>
                    Coder permet aux modos d’accéder au contenu de Coder à l’aide de bots et d’outils de
                    modération. Coder permet également à d’autres tiers d’accéder au contenu public de Coder en
                    utilisant les services de développement de Coder, y compris Coder Embeds, nos API, notre
                    plateforme de développement et des technologies similaires. Nous limitons l’accès des tiers à ce
                    contenu et exigeons d’eux qu’ils paient des droits de licence pour accéder à de plus grands
                    volumes de contenu. Les
                    <a href="https://www.coderinc.com/policies/developer-terms">Developer Terms</a> de Coder sont
                    nos conditions standard régissant l’utilisation de ces services par des tiers.
                </p>
            </div>
            <div class="information-share">
                <h2 id="policy-h2-5">Comment partageons-nous vos informations ?</h2>
                <p>
                    En sus des informations qui sont affichées publiquement comme décrit ci-dessus, nous pouvons
                    partager des informations de la manière suivante :
                </p>
                <ul class="aside-jump-to-ul" style="padding-left: 2rem; color: black;}">
                    <li>
                        <em>Avec votre consentement</em>. Nous pouvons partager des informations vous concernant avec
                        votre consentement ou selon vos instructions.
                    </li>
                    <li>
                        <em>Avec des services liés</em>. Si vous liez votre compte Coder avec un service tiers,
                        Coder partagera les informations que vous autorisez avec ce tiers. Vous pouvez contrôler ce
                        partage, comme décrit dans la section « Vos droits et vos choix » ci-dessous.
                    </li>
                    <li>
                        <em>Avec nos prestataires de services</em>. Nous pouvons partager des informations avec des
                        prestataires, des consultants et d’autres prestataires de services qui ont besoin d’accéder à
                        ces informations pour effectuer des travaux pour nous. Leur utilisation des données à
                        caractère personnel sera soumise à des mesures de confidentialité et de sécurité appropriées.
                        Quelques exemples : i) les prestataires de services de paiement qui traitent les transactions
                        pour notre compte, ii) les fournisseurs de services cloud qui hébergent nos données et nos
                        services, iii) les prestataires tiers de mesures des annonces qui nous aident, ainsi que les
                        annonceurs, à mesurer les performances des annonces diffusées sur nos Services, et iv) les
                        prestataires de services en charge de la conformité qui nous aident à déterminer votre
                        éligibilité à participer aux Programmes Coder.
                    </li>
                    <li>
                        <em>Pour nous conformer à la loi</em>. Nous pouvons partager des informations si nous pensons
                        que la divulgation est conforme ou requise par une loi, réglementation, procédure légale ou
                        demande gouvernementale applicable, y compris, mais sans s’y limiter, pour répondre aux
                        exigences de sécurité nationale ou d’application de la loi. Dans la mesure où la loi le
                        permet, nous nous efforcerons de vous donner un préavis avant de divulguer vos informations en
                        réponse à une telle demande. Notre
                        <a href="https://www.coderinc.com/policies/transparency">Rapport de transparence</a> contient
                        des informations supplémentaires sur la manière dont nous répondons aux demandes des pouvoirs
                        publics.
                    </li>
                    <li>
                        <em>En cas d’urgence</em>. Nous pouvons partager des informations si nous pensons que cela est
                        nécessaire pour prévenir un préjudice corporel imminent et grave pour une personne.
                    </li>
                    <li>
                        <em>Pour faire respecter nos droits et promouvoir la sécurité</em>. Nous pouvons partager des
                        informations si nous pensons que vos actions ne respectent pas notre Contrat d’utilisation,
                        nos <a href="https://www.coderinc.com/policies/content-policy">règles</a>, ou d’<a href="https://www.coderinc.com/policies/">autres conditions et politiques de Coder</a>, ou pour protéger les droits, la propriété et garantir la sécurité des Services, de
                        nous-mêmes et d’autrui.
                    </li>
                    <li>
                        <em>Avec nos sociétés affiliées</em>. Nous pouvons partager des informations entre Coder et
                        l’une de nos sociétés mères, affiliées, filiales et autres sociétés sous contrôle et propriété
                        communs.
                    </li>
                    <li>
                        <em>Informations agrégées ou anonymisées</em>. Nous pouvons partager des informations vous
                        concernant qui ont été agrégées ou anonymisées de telle sorte qu’elles ne peuvent
                        raisonnablement pas être utilisées pour vous identifier. Par exemple, nous pouvons afficher le
                        nombre total de fois où une publication a été upvotée sans identifier les visiteurs ou
                        visiteuses, ou nous pouvons indiquer à un annonceur combien de personnes ont vu sa publicité.
                    </li>
                </ul>
            </div>
            <div class="information-protect">
                <div id="text-content2">
                    <h2 id="policy-h2-6">Comment protégeons-nous vos informations ?</h2>
                    <div>
                        <p>
                            Nous prenons des mesures pour aider à protéger les informations vous concernant contre la
                            perte, le vol, l’utilisation abusive et l’accès, la divulgation, l’altération et la
                            destruction non autorisés. Par exemple, nous utilisons le protocole HTTPS lors de la
                            transmission des informations. Nous appliquons également des contrôles d’accès techniques et
                            administratifs pour limiter l’accès de nos employés aux informations personnelles non
                            publiques.
                        </p>
                        <p>
                            Vous pouvez contribuer à assurer la sécurité de votre compte en configurant une
                            <a href="https://www.coderhelp.com/en/categories/using-coder/your-coder-account/how-set-two-factor-authentication">authentification à deux facteurs</a>.
                        </p>
                        <p>
                            Nous conservons les informations que nous collectons aussi longtemps que nécessaire pour la
                            (les) finalité(s) pour laquelle (lesquelles) nous les avons initialement collectées. Nous
                            pouvons conserver certaines informations à des fins commerciales légitimes ou si nous
                            estimons que cela est conforme ou requis par toute loi applicable. Par exemple, si vous
                            enfreignez nos politiques et que votre compte est suspendu ou exclu, nous pouvons stocker
                            les identifiants utilisés lors de la création du compte (tels que le numéro de téléphone)
                            afin de vous empêcher d’en créer de nouveaux.
                        </p>
                    </div>
                </div>
            </div>
            <div class="rights-and-choices">
                <div>
                    <h2 id="policy-h2-7">Vos droits et choix</h2>
                    <div>
                        <p>
                            Vous disposez de choix sur la façon de protéger et de limiter la collecte, l’utilisation et
                            le partage des informations vous concernant lorsque vous utilisez les Services. Selon votre
                            lieu de résidence, vous pouvez également avoir le droit de corriger/rectifier vos données à
                            caractère personnel, de vous opposer à certaines pratiques publicitaires ou de retirer votre
                            consentement au traitement si vous l’avez déjà donné. Nous expliquons ci-dessous comment
                            exercer chacun de ces droits. Coder ne fait pas de discrimination à l’encontre des membres
                            qui exercent leurs droits en vertu des lois sur la protection des données.
                        </p>
                        <div class="overflow-x-scroll w-100">
                            <table border="1">
                                <tbody>
                                <tr valign="top">
                                    <td>
                                        <table>
                                            <tbody>
                                            <tr valign="top">
                                                <td width="8"></td>
                                                <td>
                                                    <p>&gt;<em>Accès à et modification de vos informations</em></p>
                                                </td>
                                                <td width="2%"></td>
                                                <td>
                                                    <p>
                                                        Vous pouvez accéder à vos informations, les modifier ou les rectifier par
                                                        le biais des Services. Consultez notre page
                                                        <a href="https://www.coderhelp.com/en/categories/privacy-security/accessing-your-coder-data/where-and-how-can-i-access-my-coder-data">
                                                            Centre d’aide</a>
                                                        pour obtenir de plus amples informations. Vous pouvez également demander
                                                        une copie des données à caractère personnel que Coder conserve à votre
                                                        sujet en suivant la procédure décrite
                                                        <a href="https://www.coderhelp.com/en/categories/privacy-security/accessing-your-coder-data/how-do-i-request-copy-my-coder-data-and">
                                                            ici</a>.
                                                    </p>
                                                </td>
                                                <td width="8"></td>
                                            </tr>
                                            <tr valign="top">
                                                <td></td>
                                                <td>
                                                    <p><em>Suppression de votre Compte</em></p>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                        Vous pouvez supprimer les informations de votre compte à tout moment à
                                                        partir de la page des préférences. Vous pouvez également soumettre une
                                                        demande de suppression des données à caractère personnel que Coder
                                                        conserve à votre sujet en suivant la procédure décrite dans la section «
                                                        Vos droits - Demandes d’informations des personnes concernées et des
                                                        consommateurs ». Lorsque vous supprimez votre compte, votre profil n’est
                                                        plus visible pour les autres membre et est dissocié du contenu que vous
                                                        avez publié avec ce compte. Toutefois, veuillez noter que les
                                                        publications, les commentaires et les messages que vous avez envoyés avant
                                                        la suppression de votre compte seront toujours visibles à moins que vous
                                                        ne supprimiez d’abord le contenu en question. Une fois que vous avez
                                                        soumis une demande de suppression de votre compte, notre script de purge
                                                        peut prendre jusqu’à 90 jours pour finaliser la suppression. Nous pouvons
                                                        également conserver certaines informations vous concernant à des fins
                                                        commerciales légitimes et/ou si nous estimons que cela est conforme ou
                                                        requis par toute loi applicable.
                                                    </p>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr valign="top">
                                                <td></td>
                                                <td>
                                                    <p><em>Contrôle de l’accès des services liés à votre compte</em></p>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                        Vous pouvez revoir les services que vous avez autorisés à accéder à votre
                                                        compte et annuler l’accès à certains d’entre eux en vous rendant sur la
                                                        <a href="https://www.coder.com/prefs/apps">page Apps</a> de votre compte
                                                        (pour les autorisations d’applications tierces), dans la section Comptes
                                                        Connectés des
                                                        <a href="https://www.coder.com/settings">Paramètres de votre compte</a>
                                                        (pour les comptes utilisant Se connecter avec Google, Se connecter avec
                                                        Apple et X connectés) et dans la section Lien vers un réseau social des
                                                        <a href="https://www.coder.com/settings/profile">Paramètres de votre profil</a>.
                                                    </p>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr valign="top">
                                                <td></td>
                                                <td>
                                                    <p><em>Contrôle de la publicité ciblée</em></p>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                        Vous pouvez refuser que nous utilisions les informations que nous
                                                        collectons auprès de tiers, y compris des partenaires publicitaires, pour
                                                        personnaliser les annonces que vous voyez sur Coder. Pour ce faire,
                                                        consultez la section Confidentialité des Paramètres de votre compte
                                                        <a href="https://www.coder.com/settings/privacy">ici</a>, si vous
                                                        utilisez un ordinateur de bureau, et dans les Paramètres de votre compte
                                                        si vous utilisez l’application mobile Coder.
                                                    </p>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr valign="top">
                                                <td></td>
                                                <td>
                                                    <p><em>Contrôle de l’utilisation des cookies</em></p>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                        La plupart des navigateurs Internet sont configurés pour accepter les
                                                        cookies par défaut. Si vous le préférez, vous pouvez généralement choisir
                                                        de configurer votre navigateur pour qu’il supprime ou refuse les cookies
                                                        de première main et tiers. Veuillez noter que si vous choisissez de
                                                        supprimer ou de refuser les cookies, cela pourrait affecter la
                                                        disponibilité et le fonctionnement de nos Services. Pour obtenir de plus
                                                        amples informations sur le contrôle de l’utilisation des cookies et des
                                                        technologies similaires sur Coder, consultez notre
                                                        <a href="https://www.coder.com/policies/cookies">Avis sur les cookies</a>.
                                                    </p>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr valign="top">
                                                <td></td>
                                                <td>
                                                    <p><em>Contrôle de la publicité et de l’analyse</em></p>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                        Certains fournisseurs d’analyses avec lesquels nous sommes partenaires
                                                        peuvent fournir des mécanismes de désactivation spécifiques et nous
                                                        pouvons fournir, selon les besoins et la disponibilité, des outils
                                                        supplémentaires et des services tiers qui vous permettent de mieux
                                                        comprendre les cookies et la manière dont vous pouvez les désactiver. Par
                                                        exemple, vous pouvez gérer l’utilisation et la collecte de certaines
                                                        informations par
                                                        <a href="http://www.google.com/policies/privacy/partners/">Google Analytics</a>
                                                        via le
                                                        <a href="https://tools.google.com/dlpage/gaoptout">module complémentaire de navigateur pour la désactivation de Google
                                                            Analytics</a>. Vous pouvez refuser les services de Mesure d’audience fournis par
                                                        <a href="https://www.nielsen.com/us/en/legal/privacy-statement/digital-measurement/#choices">Nielsen</a>
                                                        et <a href="https://www.quantcast.com/opt-out/">Quantcast</a>.
                                                    </p>
                                                    <p>
                                                        Vous pouvez également choisir de manière générale de ne pas recevoir de
                                                        publicités personnalisées de la part de certains annonceurs et réseaux
                                                        publicitaires tiers. Pour en savoir plus sur ces publicités ou les
                                                        refuser, veuillez consulter les sites de la
                                                        <a href="http://optout.aboutads.info/#!">Digital Advertising Alliance</a>
                                                        et de la
                                                        <a href="http://optout.networkadvertising.org/#!">Network Advertising Initiative</a>, ou si vous êtes un membre basé dans l’Espace économique européen,
                                                        <a href="http://www.youronlinechoices.eu/">Vos Choix en Ligne</a>.
                                                        <br><br>
                                                    </p>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr valign="top">
                                                <td></td>
                                                <td>
                                                    <p><em>Do Not Track (ne pas me suivre)</em></p>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                        La plupart des navigateurs Internet modernes vous permettent d’envoyer un
                                                        signal « Do Not Track » (ne pas me suivre) aux sites que vous visitez, en
                                                        indiquant que vous ne souhaitez pas être suivi. Cependant, il n’existe pas
                                                        de norme reconnue sur la manière dont un site doit répondre à ce signal et
                                                        nous ne prenons aucune mesure en réponse à ce signal. Nous vous offrons
                                                        plutôt les choix décrits dans la présente politique pour gérer la collecte
                                                        et l’utilisation des informations vous concernant, en plus des outils
                                                        tiers accessibles au public.
                                                    </p>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr valign="top">
                                                <td></td>
                                                <td>
                                                    <p><em>Contrôle des communications promotionnelles</em></p>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                        Vous pouvez choisir de ne pas recevoir certaines ou toutes les catégories
                                                        de communications promotionnelles de notre part en suivant les
                                                        instructions figurant dans ces communications ou en mettant à jour vos
                                                        options de messagerie dans les préférences de votre compte<a href="https://www.coder.com/prefs/">ici</a>. Si vous refusez les communications promotionnelles, nous pouvons
                                                        toujours vous envoyer des communications non promotionnelles, telles que
                                                        des informations sur votre compte ou sur votre utilisation des Services.
                                                    </p>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr valign="top">
                                                <td></td>
                                                <td>
                                                    <p><em>Contrôle des notifications mobiles</em></p>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                        Avec votre consentement, nous pouvons envoyer des notifications ou des
                                                        alertes push promotionnelles et non promotionnelles sur votre appareil
                                                        mobile. Vous pouvez désactiver ces messages à tout moment en modifiant les
                                                        paramètres de notification de votre appareil mobile.
                                                    </p>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr valign="top">
                                                <td></td>
                                                <td>
                                                    <p><em>Contrôle des informations de localisation</em></p>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <p>
                                                        Vous pouvez contrôler la manière dont nous utilisons les informations de
                                                        localisation à des fins de recommandation et de flux personnalisés via le
                                                        paramètre
                                                        <a href="https://www.coder.com/settings/account">Personnalisation de l’emplacement</a>
                                                        des Paramètres de votre compte.
                                                    </p>
                                                </td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p>
                                Si vous avez des questions ou si vous n’êtes pas en mesure de soumettre une demande
                                d’exercice de vos droits à l’aide des procédures ci-dessus, vous pouvez également nous
                                envoyer un email à
                                <a href="mailto:coderdatarequests@coder.com">coderdatarequests@coder.com</a> à partir
                                de l’adresse email que vous avez vérifiée avec votre compte Coder, ou les soumettre
                                <a href="https://support.coderhelp.com/hc/en-us/requests/new?ticket_form_id=360001370251">ici</a>.
                            </p>
                            <p>
                                Avant de traiter une demande de votre part concernant vos données à caractère personnel,
                                nous devons vérifier la demande via votre accès à votre compte Coder ou à une adresse
                                email vérifiée associée à votre compte Coder. Si nous refusons votre demande, vous pouvez
                                faire appel de notre décision en nous contactant envoyant un email à
                                <a href="mailto:coderdatarequests@coder.com">coderdatarequests@coder.com</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-transfer">
                <h2 id="policy-h2-8">Transferts de données internationaux</h2>
                <div>
                    <p>
                        Coder, Inc. étant basée aux États-Unis, nous traitons et stockons les informations sur des
                        serveurs situés aux États-Unis. Nous pouvons stocker des informations sur des serveurs et des
                        équipements installés dans d’autres pays en fonction de divers facteurs, notamment la
                        localisation de nos membres et de nos prestataires de services. En accédant aux Services, en
                        les utilisant ou en nous fournissant des informations, vous acceptez le traitement, le
                        transfert et le stockage des informations aux et vers les États-Unis et ainsi que dans et vers
                        d’autres pays, où vous ne bénéficierez peut-être pas des mêmes droits qu’en vertu de votre
                        législation locale.
                    </p>
                    <p>
                        Lorsque nous transférons les données à caractère personnel des membres de l’EEE, du
                        Royaume-Uni ou de la Suisse, nous nous appuyons sur les Clauses contractuelles types
                        approuvées par la Commission européenne pour ces transferts ou sur d’autres mécanismes de
                        transfert réputés « adéquats » en vertu des lois applicables.
                    </p>
                </div>
            </div>
            <div class="eea-uk-users">
                <h2 id="policy-h2-9">
                    Informations supplémentaires pour les membres de l’EEE et les membres du Royaume-Uni
                </h2>
                <div>
                    <p>
                        Si vous résidez dans l’Espace économique européen (« EEE »), Coder Netherlands B.V. est
                        responsable du traitement des informations traitées dans le cadre de la plateforme Coder et
                        de la présente politique. Si vous résidez au Royaume-Uni, Coder Inc. est responsable du
                        traitement des données et Coder UK Limited est le représentant de Coder au Royaume-Uni en
                        vertu de l’Article 27 du RGPD.
                    </p>
                    <p>
                        Les membres de l’EEE et du Royaume-Uni ont le droit de demander l’accès, la rectification ou
                        l’effacement de leurs données à caractère personnel, de demander la portabilité des données
                        dans certaines circonstances, de demander la restriction du traitement, de s’opposer au
                        traitement et de retirer leur consentement au traitement s’ils l’ont déjà donné. Ces droits
                        peuvent être exercés comme décrit dans la section « Vos droits et vos choix » ci-dessus. Les
                        membres de l’EEE ont également le droit de déposer une plainte auprès de leur autorité de
                        contrôle locale.
                    </p>
                    <p>
                        Conformément à la législation en vigueur, nous ne collectons et ne traitons les informations
                        relatives aux personnes de l’EEE et du Royaume-Uni uniquement lorsque nous disposons d’une
                        base juridique pour le faire. Nos bases juridiques dépendent des Services que vous utilisez et
                        de l’utilisation que vous en avez. Nous traitons vos informations sur les bases juridiques
                        suivantes :
                    </p>
                    <ul class="aside-jump-to-ul" style="padding-left: 2rem; color: black;}">
                        <li>Vous avez consenti à ce que nous le fassions dans un but précis ;</li>
                        <li>
                            Nous avons besoin de traiter les informations pour fournir les Services, y compris pour les
                            exploiter, fournir une assistance client et des fonctionnalités personnalisées et pour
                            garantir la sécurité des Services ;
                        </li>
                        <li>
                            Pour satisfaire un intérêt légitime (qui n’est pas supplanté par vos intérêts en matière de
                            protection des données), tel que la prévention de la fraude, la sécurité du réseau et de
                            l’information, l’application de nos règles et politiques, la protection de nos droits et
                            intérêts légaux, la recherche et le développement, la personnalisation des Services, ainsi
                            que le marketing et la promotion des Services ; ou
                        </li>
                        <li>Nous devons traiter vos informations pour satisfaire à nos obligations légales.</li>
                    </ul>
                </div>
            </div>
            <div class="california-users">
                <h2 class="text-24 mb-md" id="policy-h2-10">Informations supplémentaires pour les membres californiens</h2>
                <div>
                    <p>
                        Aux termes de la loi California Consumer Privacy Act (« CCPA »), telle qu’amendée, nous sommes
                        tenus de fournir aux résidents californiens certaines informations supplémentaires, que nous
                        abordons dans cette section.
                    </p>
                    <p>
                        Au cours des 12 derniers mois, nous avons collecté les catégories suivantes de données à
                        caractère personnel auprès des résidents de Californie, en fonction des Services utilisés :
                    </p>
                    <ul class="aside-jump-to-ul" style="padding-left: 2rem; color: black;}">
                        <li>
                            Identifiants et informations du compte, tels que votre pseudo Coder, votre adresse email,
                            votre numéro de téléphone, votre adresse IP et des informations relatives aux cookies.
                        </li>
                        <li>
                            Informations commerciales, y compris des informations sur les transactions que vous
                            effectuez avec nous.
                        </li>
                        <li>
                            Informations relatives à l’activité sur Internet ou sur d’autres réseaux électroniques,
                            telles que des informations sur votre activité sur nos Services et des informations limitées
                            sur votre activité sur les services des annonceurs qui utilisent notre technologie
                            publicitaire.
                        </li>
                        <li>Informations de géolocalisation basées sur votre adresse IP.</li>
                        <li>
                            Vos messages avec d’autres membres (par exemple, les messages privés, les discussions et le
                            courrier de modération).
                        </li>
                        <li>
                            Informations audiovisuelles contenues dans les images, le contenu audio ou vidéo soumis à
                            Coder.
                        </li>
                        <li>
                            Informations professionnelles ou liées à l’emploi ou informations démographiques, mais
                            uniquement si vous nous les fournissez explicitement, par exemple en postulant à un emploi
                            ou en répondant à un sondage.
                        </li>
                        <li>
                            Déductions que nous faisons sur la base d’autres données collectées, pour des finalités
                            comme la recommandation de contenu, la publicité et l’analyse.
                        </li>
                    </ul>
                    <p>
                        Vous trouverez de plus amples informations sur (a) ce que nous collectons et les sources de
                        ces informations dans la section « Informations que nous collectons » du présent avis, (b) les
                        finalités commerciales et d’entreprise de la collecte de ces informations dans la section «
                        Comment utilisons-nous vos informations ? » et (c) les catégories de tiers avec lesquels nous
                        partageons ces informations dans la section « Comment partageons-nous les informations ».
                    </p>
                    <p>
                        Si vous résidez en Californie, vous disposez de droits supplémentaires en vertu de la CCPA,
                        notamment le droit de refuser toute vente ou tout partage de vos données à caractère
                        personnel, de demander l’accès à nos pratiques en matière de données et des informations à ce
                        sujet et de demander la suppression ou la correction de vos données à caractère personnel,
                        ainsi que le droit de ne pas faire l’objet de discrimination pour avoir exercé vos droits en
                        matière de confidentialité. Coder ne « vend » ni ne « partage » aucune données à caractère
                        personnel, tels que ces termes sont définis dans la CCPA. Nous n’utilisons ni ne divulguons
                        aucune donnée à caractère personnel sensible, sauf pour vous fournir les Services ou dans les
                        cas autorisés par la CCPA.
                    </p>
                    <p>
                        Vous pouvez exercer vos droits d’accès, de suppression ou de correction de vos données à
                        caractère personnel comme décrit dans la section « Vos droits et choix » du présent avis.
                        Lorsque vous faites une demande, nous vérifions votre identité en vous demandant de vous
                        connecter à votre compte ou, si nécessaire, en vous demandant des informations
                        supplémentaires. Vous pouvez également faire une demande d’exercice de vos droits par
                        l’intermédiaire d’un représentant autorisé. Si vous soumettez une demande d’exercice de vos
                        droits par l’intermédiaire d’un représentant autorisé qui ne fournit pas de mandat valide,
                        nous pouvons demander au représentant autorisé de fournir la preuve que vous lui avez donné
                        l’autorisation signée de soumettre la demande d’exercer des droits en votre nom. En l’absence
                        d’un mandat valide, nous pouvons également vous demander de vérifier votre propre identité
                        directement auprès de nous ou de nous confirmer que vous avez autrement donné au représentant
                        autorisé l’autorisation de soumettre la demande. Si vous avez des questions ou des
                        préoccupations, vous pouvez nous joindre en utilisant les méthodes décrites dans la section «
                        Vos droits et choix » ou en nous envoyant un email à l’adresse
                        <a href="mailto:coderdatarequests@coder.com">coderdatarequests@coder.com</a>.
                    </p>
                </div>
            </div>
            <div class="children">
                <h2 id="policy-h2-11">Enfants</h2>
                <div>
                    <p>
                        Les enfants de moins de 13 ans ne sont pas autorisés à créer un compte ou à utiliser autrement
                        les Services. En outre, si vous vous trouvez en dehors des États-Unis, vous devez avoir l’âge
                        requis par les lois de votre pays pour créer un compte ou utiliser les Services ; sinon, nous
                        devons avoir obtenu le consentement vérifiable de vos parents ou de votre tuteur légal.
                    </p>
                </div>
            </div>
            <div class="policy-changes">
                <h2 id="policy-h2-12">Modifications de la présente politique</h2>
                <div>
                    <p>
                        Nous pouvons modifier la présente Politique de confidentialité à tout moment. Dans ce cas,
                        nous vous en informerons en modifiant la date figurant en haut de la politique. Si ces
                        modifications sont, à notre seule discrétion, importantes, nous pourrons également vous en
                        informer en envoyant un email à l’adresse associée à votre compte (si vous avez choisi de
                        fournir une adresse email) ou moyennant un avis signifié par le biais de nos Services. Nous
                        vous encourageons à consulter la Politique de confidentialité régulièrement afin de rester
                        informé de nos pratiques en matière d’information et des moyens de protéger votre vie privée.
                        En continuant à utiliser nos Services après l’entrée en vigueur des modifications de la
                        Politique de confidentialité, vous acceptez d’être lié par la politique dans sa version
                        révisée.
                    </p>
                </div>
            </div>
            <div class="contact-us">
                <h2 id="policy-h2-13">Contact Us</h2>
                <div>
                    <p>
                        Si vous avez d’autres questions concernant la présente Politique de confidentialité, veuillez
                        nous contacter à l’adresse suivante :
                    </p>
                    <p>
                        Coder, Inc.<br>
                        2 Rue le Corbusier,<br>
                        13090 Aix-en-Provence
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>