<!DOCTYPE html>
<html lang="en">

<head>
    <title>Erreur <%=error.status%></title>
    <%- include('../components/head'); %>
</head>
<body>
    <p>Erreur <%= error.status %></p>
    <p><%= error.message %></p>
</body>
</html>