<!DOCTYPE html>
<html lang="en">

<head>
    <title>Accueil</title>
    <%- include('../components/head'); %>
</head>

<body>
    <%- include('../components/header'); %>
    <section class="section-global">
        <%- include('../components/aside'); %>
        <section class="section-post">

        </section>
        <section class="section-friend">

        </section>
    </section>
</body>

</html>