<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>CODER - Connexion | Inscription</title>
</head>

<body class="body-login">
<div class="btn-back-login">
    <a href="javascript:history.back()">
        <button class="Btn">
            <svg height="1.2em" class="arrow" viewBox="0 0 512 512">
                <path
                        d="M105.4 278.6c-12.5-12.5-12.5-32.8 0-45.3l192-192c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3L173.3 256l169.4 169.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0l-192-192z">
                </path>
            </svg>
            <p class="text">Revenir en arrière</p>
        </button>
    </a>
</div>
<div class="container" id="container">
    <div class="form-container sign-up">
        <p>
            <% if (err) { %><%= err.message %><% } %>
        </p>
        <form action="/treatment/register" method="POST">
            <div class="titre-form">
                <h1>Creer un compte</h1>
                <span>Utilisez votre email pour l'inscription</span>
            </div>
            <input type="text" name="username" placeholder="Pseudo *">
            <input type="email" name="email" placeholder="Email *">
            <input type="password" id="password" name="password" placeholder="Mot de passe *" required>
            <div id="password-requirements">
                <ul>
                    <li id="length">8 caractères minimum</li>
                    <li> |</li>
                    <li id="number"> 1 chiffre</li>
                    <li> |</li>
                    <li id="uppercase"> 1 majuscule</li>
                    <li> |</li>
                    <li id="special"> 1 caractère spécial</li>
                </ul>
            </div>
            <button class="btn-inscription">Inscrivez-vous</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form action="/treatment/login" method="POST">
            <div class="titre-form">
                <h1>Connectez-vous</h1>
                <span>Utilisez votre mot de passe & email</span>
            </div>
            <input type="text" name="name" placeholder="Email ou pseudo *" required>
            <input type="password" name="password" placeholder="Mot de passe *" required>
            <div class="checkbox-forget_password">
                <div class="checkbox-wrapper-46">
                    <input type="checkbox" name="remember" id="cbx-46" class="inp-cbx"/>
                    <label for="cbx-46" class="cbx">
              <span>
                <svg viewBox="0 0 12 10" height="10px" width="12px">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                </svg>
              </span>
                        <span>Se souvenir de moi</span>
                    </label>
                </div>
                <a href="/coder/accounts/password/reset/">Mot de passe oublié ?</a>
            </div>
            <button type="submit">Connectez-vous</button>
        </form>

    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Content de vous revoir !</h1>
                <p>Entrez vos informations personnelles pour utiliser toutes les fonctionnalités du site.</p>
                <button class="hidden" id="login">Connectez-vous</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Salut, cher ami !</h1>
                <p>Enregistrez-vous avec vos informations personnelles pour accéder à toutes les fonctionnalités du
                    site.</p>
                <button class="hidden" id="register">Inscrivez-vous</button>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/scriptLogin.js"></script>
</body>

</html>