<!DOCTYPE html>
<html lang="en">

<head>
    <title>CODER</title>
    <%- include('../components/head'); %>
</head>

<body>
    <%- include('../components/header'); %>
    <section class="section-global">
        <%- include('../components/aside'); %>
        <section class="profil-user-global">
            <div class="info-user-global-ctn">
                <div class="img-user-global">
                    <img src="/public/images/icon/undefined.png" alt="img de profil">
                </div>
                <div class="info-user-global">
                    <div class="info-user-name-email-date">
                        <div class="info-user-name-email">
                            <span>KAVTIV</span>
                            <span>kantin.fagn@gmail.com</span>
                        </div>
                        <div class="info-user-date  ">
                            <span>Membre depuis le : </span>
                            <span>Avril 11 2024</span>
                        </div>
                    </div>
                    <div class="info-user-follow-friend-global">
                        <div class="info-user-follow-friend">
                            <div class="info-user-follow">
                                <span>23</span>
                                <span>followers</span>
                            </div>
                            <div class="info-user-friend">
                                <span>2</span>
                                <span>ami(e)s</span>
                            </div>
                        </div>
                        <div class="btn-follow-profil">
                            <button>Suivre</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>

</html>