<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>CODER - Mot de passe oublié ?</title>
</head>

<body class="body-login">
<h1>Mot de passe Modifié !</h1>
<a href="/coder">
    <button class="btn-valid-pwd">Retour à l'accueil</button>
</a>
</body>

</html>
