<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>CODER - Mot de passe oublié ?</title>
</head>

<body class="body-login">
<div class="container" id="container">
    <div class="form-container sign-in">
        <form action="" method="POST">
            <h1>Mot de passe Modifié !</h1>
            <button type="submit" id="submit-btn" disabled>Retour à l'accueil</button>
        </form>
    </div>
</div>
</body>

</html>
