<div class="form">
    <button class="btn-close">Fermer</button>
    <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn" id="loginBtn">Connection</button>
        <button type="button" class="toggle-btn" id="registerBtn">S'inscrire</button>
    </div>
    <form id="login" class="input-group">
        <input type="text" class="input-field" placeholder="Pseudo ou e-mail" required>
        <input type="password" class="input-field" placeholder="Mot de passe" required>
        <input type="checkbox" class="chech-box"><span>Se souvenir de moi</span>
        <button type="submit" class="submit-btn">Se connecter</button>
    </form>
    <form id="register" class="input-group">
        <input type="text" class="input-field" placeholder="Pseudo" required>
        <input type="email" class="input-field" placeholder="exemple@coder.com" required>
        <input type="password" class="input-field" placeholder="Mot de passe" required>
        <input type="checkbox" class="chech-box"><span>Se souvenir de moi</span>
        <button type="submit" class="submit-btn">S'inscrire</button>
    </form>
</div>